#gtb {
  color: #263238;
  font-family: "Brandon Text";
  font-size: 16px;
  &--radiobutton {
    .gtb-radio-wrapper {
      position: relative;
      margin-bottom: 1rem;
      cursor: pointer;
      user-select: none;

      .gtb-radio-label {
        margin-left: 2rem;
        color: #b0bec5;
        font-size: 16px;
        font-weight: 400;

        &.checked {
          color: #263238;
        }
      }
      // hide the default radio button
      input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      // create a custom radio button
      .gtb-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: rgba(140, 198, 63, 0.15);
        border-radius: 50%;
        border: 1px solid #8cc63f;
      }

      // on mouse-over, add a green background color
      &:hover input ~ .gtb-checkmark {
        background-color: rgba(140, 198, 63, 0.35);
      }

      // when the radio button is checked, add a green background
      & input:checked ~ .gtb-checkmark {
        background-color: #8cc63f;
      }

      // when the radio button is focused, add a green glow
      & input:focus ~ .gtb-checkmark {
        filter: drop-shadow(1px 2px 3px green);
      }

      /* inner dot/circle - hidden when not checked */
      .gtb-checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* show dot/circle when checked */
      .gtb-radio-label input:checked ~ .gtb-checkmark:after {
        display: block;
      }

      /* style the dot/circle */
      .gtb-radio-label .gtb-checkmark:after {
        top: 6px;
        left: 6px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
      }
    }
  }
}
