/*
 * Colors
 * _______________________________________ */

$green: #2cd886;
$light-green: #2cd886;

$grey: #90a4ae;
$dark-grey: #263238;
$grey-100: #f9fafa;
$grey-200: #eceff1;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #b0bec5;
$black: #37474f;

$sub-text: $grey;
$gu-grey: $dark-grey;

$accelerator-blue: #009aff;
$accelerator-yellow: #ffd400;

$font-family-primary: 'Brandon Text';
$font-family-secondary: 'Brandon Grotesque';

$font-weight-300: 300;
$font-weight-400: 400; // normal
$font-weight-500: 500;
$font-weight-700: 700; // bold
$font-weight-900: 900; // black
