@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.classes-flyout {
	width: 1004px;
  max-width: calc(100vw - 110px);
	background-color: $grey-100;
  border-radius: 12px;
  box-shadow: 0 2px 32px 0 rgba(black,0.3);
  overflow: hidden;

  &__header {
    font-size: 16px;
    font-family: $font-family-primary;
    font-weight: $font-weight-900;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
  }

  &__primary,
  &__secondary {
    padding: 40px;
  }

  &__primary {
    color: white;
    background-color: $accelerator-blue;
  }

  &__secondary &__header {
    color: $sub-text;
    font-size: 16px;
    font-family: $font-family-primary;
    font-weight: $font-weight-900;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
  }

  .current-accelerator {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
      width: 48px;
      flex-shrink: 0;
      margin-right: 16px;
    }

    &__main {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      margin-right: 16px;
    }

    &__type {
      font-size: 12px;
      font-family: $font-family-primary;
      font-weight: $font-weight-700;
      letter-spacing: 2.4px;
      line-height: 16px;
    }


    &__name,
    &__seats-remaining {
      font-size: 20px;
      line-height: 24px;
    }

    &__name {
      margin-top: 4px;
      font-family: $font-family-primary;
      font-weight: $font-weight-700;
    }

    &__link,
    &__seats-remaining {
      flex-shrink: 0;
    }

    &__seats-remaining {
      margin-right: 15%;

      /* align with accelerator name text */
      transform: translateY(10px);
    }

    &__link {
      height: 32px;
      width: 136px;
      border-radius: 6px;
      background-color: $accelerator-yellow;
      will-change: transform;
      transition: 0.2s ease-out;
      color: rgba(black,0.7);
      font-size: 14px;
      font-family: $font-family-primary;
      font-weight: $font-weight-700;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      transform: translateY(8px);

      &,
      span {
        z-index: 2;
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background-color: $accelerator-yellow;
        z-index: 0;
        will-change: transform;
      }

      &:active::before {
        transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        transform: scale(1.2, 1.5);
        opacity: 0;
      }

      &:hover:not(:active) {
        transform: translateY(6px);
        box-shadow:
          3px 4px 2px rgba(darken($accelerator-blue, 30%), 0.2);
      }
    }
  }

  .accelerator-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .accelerator-list-item {
    width: 31.6%;
  }

  .accelerator-list-item:nth-child(-n + 3) {
    margin-bottom: 32px;
  }

  .accelerator-list-item__link {
    height: 72px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.06);
    transition: 0.2s ease-out;
    position: relative;
    display: inline-block;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    background-color: white;

    img {
      max-width: 100%;
    }

    &:hover:not(:active) {
      transform: translateY(-2px);
      box-shadow:
        0 3px 0 rgba(black,0.07),
        3px 6px 3px rgba(black, 0.04);
    }
  }

  @include for-lg-down {
    max-width: unset;
    width: 100%;

    &__primary {
      padding: 32px 32px 24px;
    }

    .current-accelerator {
      margin-top: 22px;
      flex-direction: column;

      &__icon,
      &__main {
        margin-right: 0;
      }

      &__main,
      &__seats-remaining {
        text-align: center;
      }

      &__main {
        margin-top: 8px;
      }

      &__name {
        margin-top: 8px;
      }

      &__seats-remaining,
      &__link,
      &__link:hover:not(:active) {
        transform: none;
      }

      &__seats-remaining {
        margin-top: 24px;
        margin-bottom: 22px;
        margin-right: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-top: 1px solid rgba(white, 0.26);
        border-bottom: 1px solid rgba(white, 0.26);
        width: 100%;
      }
    }
  }
}
